root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion

# .NET Analyzer Rules
dotnet_diagnostic.CA1848.severity = suggestion
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA1812.severity = suggestion
dotnet_diagnostic.CA1515.severity = suggestion

[*.{js,jsx,ts,tsx,json,yml,yaml,md}]
indent_size = 2

[*.sln]
indent_style = tab

[Makefile]
indent_style = tab
